<div class="footer">
  <p>---</p>
  {% assign lang = page.lang | default: site.languages.default %}
  {% assign locale = site.data.locales[lang] %}
  <p>{{ locale.footer.ridd.part1 }} <a href="https://base.org" target="_blank" title="Base network"><img src="{{ site.baseurl }}/assets/img/base-wordmark.svg" alt="Base network" class="footer-text-icon"></a> {{ locale.footer.ridd.part2 }}</p>
  <p>{{ locale.footer.improve.part1 }} <a href="{% github_edit_link %}">{{ locale.footer.improve.part2 }}</a>{{ locale.footer.improve.part3 }}</p>
  <p>{{ locale.footer.reader }}</p>
  <p>{{ locale.footer.legal.part1 }}</p>
  <p>{{ locale.footer.legal.part2 }}</p>
  {% include footer-scripts.html %}
</div>
