---
---

body {
    margin: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Space Mono", monospace, serif;
    font-weight: 700;
    font-style: normal;
    line-height: initial;
}

blockquote {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.site-wrap {
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
}

.site-logo {
    width: 100px;
    height: auto;
}

.navbar {
    font-family: "Space Mono", monospace, serif;
    font-weight: 700;
    font-style: normal;
}

.page-meta {
    color: grey;
    font-size: 14px;
    font-family: "Roboto Mono", monospace, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.button {
    font-weight: 400;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #0056b3;
    color: #ffffff;
    text-decoration: none;
}

.footer {
    color: gray;
    font-size: 16px;
}

.footer-text-icon {
    height: 1em;
    vertical-align: middle;
}

.text-gray {
    color: grey;
}

.font-14px {
    font-size: 14px;
}

.long-word-ca {
    word-break: break-all;
}
